.panel {
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid transparent;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    border-radius: 48px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
}

.easy-button-button{
	padding:0px;
}

.sun-data{
	padding: 2%;
	padding-top: 1%;
}

@media only screen and (min-width: 500px) {
	.geocoder-control{
		position: fixed;
		top: 0.25%;
		right: 40%;
		float: clear;
		width:400px;
	}
}

@media (max-width: 670px) and (min-width: 500px) {
	.geocoder-control{
		position: fixed;
		top: 0.25%;
		right: 35%;
		float: clear;
		width:230px;
	}
}

@media (max-width: 782px) and (min-width: 670px) {
	.geocoder-control{
		position: fixed;
		top: 0.25%;
		right: 30%;
		float: clear;
		width:400px;
	}
}


.leaflet-popup-content-wrapper {
    padding: 1px;
    text-align: left;
    border-radius: 2px;
    }

// #name_container{
// 	width:300px;
// }

#name_container .panel .panel-default{
	border-radius: 0px;
	color:white !important;
	background-color:rgba(0, 0, 0, 0.3) !important;
	border-color:rgba(0, 0, 0, 0.3) !important;
}

.panel .panel-default{
	border-radius: 0px;
	color:white !important;
	background-color:rgba(0, 0, 0, 0.3) !important;
	border-color:rgba(0, 0, 0, 0.3) !important;
}

#logo-btn-container{
	width:27%;
	float:left;
}

#name-text-container{
	width:70%;
	float:left;
}

.logo-btn {
	max-width: 60px;
 }

